@use '../../styles/variables' as *;

.name {
  font-size: $text-xl;
  margin: $space-6 0 $space-4;
}

.lists {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: $space-4;
}
