@use '../../styles/variables' as *;

.heading {
  font-size: $text-xl;
  margin: $space-6 0;
}

.searchBar {
  margin-bottom: $space-6;
}

.error {
  color: $color-error;
}

.results {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: $space-4;
}
